<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catgram</title>

    <link rel="stylesheet" href="/public/css/style.css" type="text/css" />
  </head>
  <body>
    <div id="card">
      <div id="card-content">
        <div id="card-title">
          <h2>CatGram</h2>
          <div class="underline-title"></div>
          <p>A social network for cat owners.</p>
        </div>
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => {
        %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="alert alert-info"><%= el.msg %></div>
        <% }) %> <% } %>
        <form action="/login" method="POST" class="form">
          <label for="user-email" style="padding-top: 13px">
            &nbsp;Email
          </label>

          <input
            type="email"
            id="user-email"
            class="form-content"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
            autocomplete="on"
            required
          />
          <div class="form-border"></div>
          <label for="user-password" style="padding-top: 22px"
            >&nbsp;Password
          </label>
          <input
            id="user-password"
            class="form-content"
            type="password"
            name="password"
            id="exampleInputPassword1"
            required
          />

          <div class="form-border"></div>
          <a href="#">
            <legend id="forgot-pass">Forgot password?</legend>
          </a>
          <input id="submit-btn" type="submit" name="submit" value="LOGIN" />
          <a href="/signup" id="signup">Don't have account yet?</a>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
